@use "variables" as *;

.coming-soon-page-root {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: $font-n;

  .background-gradient {
    object-fit: contain;
    object-position: bottom right;
    pointer-events: none;
    height: 100%;
  }

  .coming-soon-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .coming-soon-page-header {
      height: 12vh;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-inline: 124px;
    }

    .coming-soon-page-body {
      // border: 1px solid white;

      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-inline: 124px;

      .c-s-page-panel-left {
        // border: 1px solid red;

        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 64px;
        padding-top: 136px;


        .coming-soon-heading {
          h1 {
            color: $text-primary;
            font-family: $font-n;
            font-weight: 900;
            font-size: 74px;
            text-transform: uppercase;
            line-height: 90px;
          }
        }

        .stage-index {
          // border: 1px solid blue;

          .s-i-heading {
            h3 {
              color: $text-muted;
              font-family: $font-m;
              font-weight: 500;
              font-size: 14px;
              margin-bottom: 8px;
            }
          }

          .active-stage {
            color: $text-primary;
            font-family: $font-n;
            font-weight: 400;
            font-size: 24px;

            &:hover {
              transition: all ease-in-out 400ms;
              font-weight: 600;
            }
          }

          .inactive-stage {
            color: $text-muted-l;
            font-family: $font-n;
            font-weight: 400;
            font-size: 18px;
          }
        }
      }

      .c-s-page-panel-right {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }

    .coming-soon-page-footer {
      width: 100%;
      padding: 48px 124px;

      .footer-heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;

        h4 {
          // border: 1px solid white;

          color: $text-muted-l;
          font-family: $font-l;
          font-weight: 400;
          font-size: 18px;
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
        }
      }

      .copyright-text {
        p {
          color: $text-muted-l;
          font-family: $font-l;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}
