@font-face {
  font-family: "Helvetica Neue Light";
  src: url("/the-portfolio/public/fonts/helveticaneue-light.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/the-portfolio/public/fonts/helveticaneue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("/the-portfolio/public/fonts/helveticaneue-medium.woff")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("/the-portfolio/public/fonts/helveticaneue-bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
