// Color Theme
$background: #181818;
$text-primary: #fafafa;
$text-secondary: #cacaca;
$text-muted: #686868;

// Font Family

$font: "HelveticaNeue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
